*{
    margin: 0;
    padding: 0;
    font-family: "Gilroy";
    box-sizing: border-box;
}
html,body {
    width: 100%;
    height: 100%;

}
#main{
    height: 100%;
    width: 100%;
    display: flex;

}

#left{
    width: 40%;
    height: 100%;
    position: relative;    

}
#lnav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px 30px;
}
#lnavr {
    display: flex;
    align-items: center;
}
#lnavr a{
    margin-right: 20px;
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 14px;
}
#lnavr i{
    font-size:20px;
}

#left #textcenter{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#textcenter h1{
    font-size: 90px;
    font-weight: 900;
}

#textcenter p{
    opacity: .6;
    font-size: 12px;
    line-height: 20px;
    margin-top: 20px;
    margin-bottom:20px;
}

#textcenter a{
    text-decoration: none;
    color: black;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    font-size: 13px;
    font-weight: 600;
    opacity: .6;
}

#right{
    width: 60%;
    height: 100%;
    background-color: white;
}
#rtop{
    display: flex;
    width: 100%;
    height: 50%;
    background-color: blue;

}
#rbottom{
    width: 100%;
    height: 50%;
    background-image: url('https://images.pexels.com/photos/94848/pexels-photo-94848.jpeg?auto=compress&cs=tinysrgb&w=600');
    background-size: cover;
    background-position: bottom;
}
#rtopleft{
    width: 55%;
    height: 100%;
    background-image: url('https://images.pexels.com/photos/1784578/pexels-photo-1784578.jpeg?auto=compress&cs=tinysrgb&w=600');
    background-size: cover;
    background-position: center;
}
#rtopright {
    width: 45%;
    height: 100%;
    background-image: url('https://images.pexels.com/photos/2186572/pexels-photo-2186572.jpeg?auto=compress&cs=tinysrgb&w=600');
    background-size: cover;
    background-position: bottom;
}

@media(max-width:500px) {
    #main{
        flex-direction: column;
    }
    #main #left{
        width: 100%;
    }
    #main #right{
        width: 100%;
    }
}
